{% macro footer() %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          Copyright © 2017-20** , 
          <a href="https://github.com/PinkyRabbit" target="_blanc">
            Mikita Melnikau
          </a>
        </div>
      </div>
    </div>
  </footer>
{% endmacro %}
